/*
 *= require bootstrap
 */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: #fff;
}

h1, caption {
  font-size: 160%;
  text-align: left;
  line-height: 200%;
  border-bottom: 1px solid #cccccc;
}

h2, legend {
  text-align: left;
  font-size: 130%;
  line-height: 1.5;
  color: #5cb85c;
  border-bottom: 1px solid #5cb85c;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#loginform, #registration-form {
  margin-top: 40px;
}

#registrant-email {
  font-size: 1.4em;
  margin-top: 25px;
  color: green;
}

#pw-quality {
  font-size: 1.2em;
  margin-top: 20px;
}

.crack-div {
  font-size: 1.2em;
  margin-top: -10px;
}

#match-div {
  font-size: 1.2em;
  margin-top: 20px;
  color: red;
}

#match-div.pmatch {
  font-weight: bold;
  color: green;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  text-align: right;
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}